<div class="todo" [class.completed]="todo.completed">
  <label class="todo__status-label">
    <input 
      type="checkbox" 
      class="todo__status" 
      [checked]="todo.completed"
      (change)="toggle.emit()"
    />
  </label>

  @if (editing) {
  <form (ngSubmit)="save()">
    <input
      #titleField
      type="text"
      class="todo__title-field"
      placeholder="Empty todo will be deleted"
      name="title"
      [(ngModel)]="title"
      (keyup.escape)="editing = false"
      (blur)="save()"
    />
  </form>
  } @else {
  <ng-container>
    <span class="todo__title" (dblclick)="edit()">{{ todo.title }}</span>

    <button type="button" class="todo__remove" (click)="delete.emit()">×</button>
  </ng-container>
  }
</div>
