.filter {
  display: flex;
  gap: 10px;

  &__link {
    margin: 3px;
    padding: 3px 7px;

    color: inherit;
    text-decoration: none;

    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
      background-color: rgba(175, 47, 47, 0.1);
    }

    &.selected {
      background-color: rgba(175, 47, 47, 0.2);
    }
  }
}
