iframe {
  display: none;
}

:root {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

body {
  flex: 1;
  min-width: 230px;
  max-width: 550px;
}

@import "./todoapp";
@import "./todo";
@import "./filter";
